.cache
.last-package-update-day
.lsp-session-v1
.mc-lists.el
.org-id-locations
amx-items
auto-save-list
bookmarks
elfeed.org
elpa
eshell
history
org-roam.db
package-quickstart.el
package-quickstart.elc
places
projectile-bookmarks.eld
recentf
request
srecode-map.el
straight
tabsession.el
transient
